<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.merlin.studentnote"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
      
    <uses-feature android:name="android.hardware.camera"></uses-feature>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.merlin.studentnote.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Start"
            android:label="@string/app_name" 
            android:parentActivityName="com.merlin.studentnote.Splash"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".RecordingVideo"
            android:label="@string/video_recording" >
        </activity>
        <activity
            android:name=".Capture"
            android:label="@string/capture" >
        </activity>
       
    </application>

</manifest>
